{% extends "layout.jinja" %}
{% block title %}{{ title }} (drastikbot:help) - {{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/blog.css"/>
{% endblock %}

{% block content %}
    {{ content }}
{% endblock %}
